{% load static %}
<!doctype html>
<html lang="pt-br" class="h-[100vh] w-[100w]">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TierTasks</title>

    <!-- CDN do tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Configuração customizada do Tailwind -->
    <script src="{% static 'js/config-inline-tailwind.js' %}"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- CSS global -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <!-- Fonte  -->
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
  </head>
  <body class="min-h-screen min-w-screen max-h-screen max-w-screen flex  overflow-hidden">

        <!-- Conteúdo específico da página em si -->
        {% block content %}{% endblock %}

    <!-- Footer fixo -->
    <footer class="flex align-center justify-center w-full h-[3vh] bg-black/50 py-1">
        <p class="text-slate-300 text-center text-xs 3xl:text-sm leading-[2vh] 3xl:leading-[2.5vh]">TierTasks © 2025</p>
    </footer>

    <!-- Mensagens do django com estilos em tailwind (posicionado ao final para garantir sobreposição) -->
    {% if messages %}
      <div aria-live="polite" class="pointer-events-none">
        {% for message in messages %}

          <!-- Verifica o tipo de mensagem e altera a cor -->
          <div role="alert" class="fixed top-10 left-1/2 transform -translate-x-1/2 z-60 pointer-events-auto flex items-start justify-between py-3 px-4 rounded-lg mb-2 text-sm
                {% if 'error' in message.tags %}bg-red-700 text-red-100
                {% elif 'success' in message.tags %}bg-green-700 text-green-100
                {% elif 'warning' in message.tags %}bg-yellow-400 text-yellow-900
                {% elif 'info' in message.tags %}bg-blue-700 text-blue-100
                {% else %}bg-slate-700 text-white
                {% endif %}">
            <div class="flex-1">{{ message }}</div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Scripts js na pasta própria -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/modals.js' %}"></script>
    {% block scripts %}{% endblock %}
   </body>
</html>
